.healthy {
	color: rgb(250, 10, 10);
}
.failing {
	color: rgb(50, 10, 50);
}
.failed {
	color: rgb(10, 50, 10);
}

.techFull {
	color: rgb(10, 250, 10);
}
.techFailing {
	color: rgb(10, 150, 10);
}
.techFailed {
	color: rgb(10, 50, 10);
}
.manaFull {
	color: rgb(150, 10, 200);
}
.manaFailing {
	color: rgb(150, 10, 150);
}
.manaFailed {
	color: rgb(150, 10, 50);
}

.splash {
	background-color: #eb2897;
	color: #fb9d45;
}






.post {
	background-color: rgb(50, 10, 10);
	color: rgb(10, 250, 10);
}

.syncro {
	background-color: #eb2897;
}
textview {
	
	background: rgb(10, 255, 10);
	background-color: rgb(10, 255, 10);

}
.notebookstyle {
	
	color: rgb(0, 0, 0);
	opacity: 1.0;
	background: rgb(10, 255, 10);
	background-color: rgb(10, 255, 10);

}
.button {

	background: #fb9d45;

	border: 0px;
	border-radius: 0em;
}
.mapButton {
	background: #fb9d45;

}

frame {
	border-style: dotted;
	border-top: 15px;
	border-bottom: 30px;
	border-color: rgb(85, 10, 85);
	
	background-color: transparent;
}
.ico {
	transition-property: -gtk-icon-transform;
	transition-duration: .65s;

	
	color: rgb(10, 75, 10);
	border: 5px black;
	border-radius: 0em;
	background: rgb(10, 10, 50);
}

.ico:active {
	
	border: 5px rgb(0, 0, 0);
	background: #eb2899;
	transition-property: -gtk-icon-transform;
	transition-duration: .5s;
}
.exitstyle {
	color: rgb(0, 0, 0);
	background-color: #eb2899;
}
.broadcastsstyle {
	color: #eb2899;
	background-color: #eb2899;
}
.inventorystyle {
	color: #eb2899;
	background-color: #eb2899;
}
.equipmentstyle {
	color: #eb2899;
	background-color: #eb2899;
}
.tellsstyle {
	color: #eb2899;
	background-color: #eb2899;
}
.sidebar {
	color: #eb2899;
	background-color: rgb(85, 10, 85);
}

.header {
	
	animation-duration: 2s;
	animation-iteration-count: 1;
	background-color: rgb(10, 50, 10);
}



.footer {
	
	animation-duration: 2s;
	animation-iteration-count: 1;
	background-color: rgb(10, 50, 10);
}
.greenText {
	background-color: rgb(10, 50, 10);
	color: rgb(0, 0, 0);
}
.gOnG {
	background-color: rgb(0, 0, 0);
	color: rgb(200, 0, 0);
}
.gOnB {
	border-radius:1em;
	background-color: rgb(0, 0, 0);
	color: rgb(150, 0, 150);
}
.gOnBl {
	background-color: rgb(0, 0, 0);
	color: rgb(10, 250, 10);
}
.mapgOnBl {
	background-color: rgb(0, 0, 0);
	color: rgb(10, 250, 10);
}
.loginText {
	background-color: rgb(5, 10, 5);
	color: rgb(10, 250, 10);
}
.inspectIn {
	animation-name:inspectIn;
	animation-duration: .250s;
	animation-iteration-count: 1;
}

.inspect {
	color: rgb(10, 250, 10);
}
.contents {
	
	color: rgb(10, 250, 10);
}


#user {
	background-color: rgb(50, 175, 50);

}


.black {
	color: rgb(0, 0, 0);
	background-color: rgb(0, 0, 0);
}
.opacGlow {

	color: rgb(10, 10, 50);
	opacity: 0.5;
	background-color: rgb(10, 10, 50);
}
.glow {
	
	color: rgb(10, 10, 50);
	background-color: rgb(75, 10, 50);
}


.cel {
	transition-property: -gtk-icon-transform;
	transition-duration: .65s;


	color: rgb(10, 75, 10);
	border: 5px black;
	border-radius: 0em;
	background: rgb(95, 0, 85);
}

.inspectCel {
	transition-property: -gtk-icon-transform;
	transition-duration: .65s;

	
	color: rgb(10, 75, 10);
	border: 5px black;
	border-radius: 0em;
	background: rgb(95, 0, 85);
}
