
.syncro {
	background-color: rgb(0, 0, 50);
}
.syncro:focus {
	background-color: rgb(10, 10, 50);
}
textview {
	font: 26px courier new;
	background: rgb(10, 255, 10);
	background-color: rgb(10, 255, 10);

}
.notebookstyle {
	font: 22px courier new;
	color: rgb(0, 0, 0);
	opacity: 1.0;
	background: rgb(10, 255, 10);
	background-color: rgb(10, 255, 10);

}
.button {
	font: 22px courier new;
	color: rgb(0, 0, 0);
	background: rgb(50, 175, 50);
	border: 0px;
	border-radius: 0em;
	background-color: rgb(50, 175, 50);
}
.button:hover {
	background: rgb(50, 225, 50);
	border: 0px;
	border-radius: 0em;
	background-color: rgb(50, 225, 50);
}

frame {
	border-style: dotted;
	border-top: 15px;
	border-bottom: 30px;
	border-color: rgb(85, 10, 85);
	font-size: 26px;
	background-color: transparent;
}
.cel {
	font: 26px courier;
	color: rgb(10, 75, 10);
	border: 5px black;
	border-radius: 0em;
	background: rgb(10, 10, 50);
}
.cel:hover {
	font: 26px courier;
	border: 5px rgb(150, 10, 150);
	background-color: #eb2899;
}
.exitstyle {
	color: rgb(0, 0, 0);
	background-color: #eb2899;
}
.exitstyle:hover {
	color: rgb(0, 0, 0);
	background-color: rgb(10, 175, 10);
}
.broadcastsstyle {
	color: #eb2899;
	background-color: #eb2899;
}
.broadcastsstyle:hover {
	color: rgb(10, 175, 10);
	background-color: rgb(10, 175, 10);
}
.inventorystyle {
	color: #eb2899;
	background-color: #eb2899;
}
.inventorystyle:hover {
	color: rgb(10, 175, 10);
	background-color: rgb(10, 175, 10);
}
.equipmentstyle {
	color: #eb2899;
	background-color: #eb2899;
}
.equipmentstyle:hover {
	color: rgb(10, 175, 10);
	background-color: rgb(10, 175, 10);
}
.tellsstyle {
	color: #eb2899;
	background-color: #eb2899;
}
.tellsstyle:hover {
	color: rgb(10, 175, 10);
	background-color: rgb(10, 175, 10);
}
.sidebar {
	color: #eb2899;
	background-color: rgb(85, 10, 85);
}

.header {
	background-color: rgb(10, 250, 10);
}

.footer {
	background-color: rgb(10, 250, 10);
}
.contents {
	font: 16px courier;
	color: rgb(10, 250, 10);
}


#user {
	background-color: rgb(50, 175, 50);

}

#user:hover {
	background-color: rgb(50, 225, 50);
}

.black {
	color: rgb(0, 0, 0);
	background-color: rgb(0, 0, 0);
}
.opacGlow {
	font-size: 26px;
	color: rgb(10, 10, 50);
	opacity: 0.5;
	background-color: rgb(10, 10, 50);
}
.glow {
	font-size: 26px;
	color: rgb(10, 10, 50);
	background-color: rgb(75, 10, 50);
}

.opacGlow:focus {
	font-size: 26px;
	color: rgb(50, 10, 50);	
	opacity: 1;
	background-color: rgb(50, 10, 50);

}

