.button {
	color: rgb(0, 0, 0);
	background: rgb(50, 175, 50);
	border: 0px;
	border-radius: 0em;
	background-color: rgb(50, 175, 50);
	padding: 1px;
}
.button:hover {
	background: rgb(50, 225, 50);
	border: 0px;
	border-radius: 0em;
	background-color: rgb(50, 225, 50);
	padding: 1px;
}

#user {
	background-color: rgb(50, 175, 50);

}

#user:hover {
	background-color: rgb(50, 225, 50);
}

.black {
	color: rgb(0, 0, 0);
	background-color: rgb(0, 0, 0);
}
.opacGlow {
	font-size: 26px;
	color: rgb(10, 10, 50);
	opacity: 0.5;
	background-color: rgb(10, 10, 50);
}

.opacGlow:focus {
	font-size: 26px;
	color: rgb(50, 10, 50);	
	opacity: 1;
	background-color: rgb(50, 10, 50);

}


window {
	background-color: rgb(0, 0, 50);
}
window:focus {
	background-color: rgb(10, 10, 50);
}
textview {
	font: 26px courier new;
	background: rgb(10, 255, 10);
	background-color: rgb(10, 255, 10);

}
